Repository christianmaass/maass-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet --max-warnings=0, prettier --write

chore(lint-staged): ignore dev/_trash and dev/archive to quiet pre-commit hooks
  .lintstagedignore
Due: none

refactor(dev/archive): switch relative imports to aliases for CourseGrid and AuthContext
  dev/archive/pages/onboarding-new-dev.tsx
Due: eslint --fix --quiet --max-warnings=0, prettier --write

refactor(dev/archive): replace relative imports with aliases (@contexts, @components)
  dev/archive/pages/check-my-user.tsx
  dev/archive/pages/onboarding-new-dev.tsx
  dev/archive/pages/refresh-profile.tsx
Due: eslint --fix --quiet --max-warnings=0, prettier --write

refactor(dev/archive): use @contexts/AuthContext in check-enrollment-status
  dev/archive/pages/check-enrollment-status.tsx
Due: eslint --fix --quiet --max-warnings=0, prettier --write

refactor(dev/archive): use @contexts/AuthContext and @hooks/useUnifiedGuard in test-unified-guard-validation
  dev/archive/pages/test-unified-guard-validation.tsx
Due: eslint --fix --quiet --max-warnings=0, prettier --write

refactor(dev/archive): use @contexts/AuthContext and @hooks/useUnifiedGuard in test-unified-guard
  dev/archive/pages/test-unified-guard.tsx
Due: eslint --fix --quiet --max-warnings=0, prettier --write

refactor(dev/archive): migrate AuthContext imports to @contexts/AuthContext and align aliases
  dev/archive/pages/admin/foundation-manager-backup.tsx
  dev/archive/pages/check-my-user.tsx
  dev/archive/pages/course/strategy.tsx
  dev/archive/pages/test-routing.tsx
  dev/archive/pages/validate-schema.tsx
Due: eslint --fix --quiet --max-warnings=0, prettier --write

Initial commit from Create Next App
  .gitignore
  README.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: eslint --fix --quiet --max-warnings=0, prettier --write

docs: add solo git workflow (develop/main, feature branches)
  docs/runbooks/git-workflow.md
Due: prettier --write

obs: finalize sentry v8 integration + .env.example placeholders
  docs/runbooks/observability.md
  instrumentation.ts
  next.config.ts
  src/sentry.client.config.ts
  src/sentry.server.config.ts
Due: eslint --fix --quiet --max-warnings=0, prettier --write

chore: sync package-lock for reproducible npm ci
  package-lock.json
Due: prettier --write

chore: make CI green (lint + typecheck)
  src/app/(marketing)/page.tsx
  src/app/api/auth/login/route.ts
  src/app/api/auth/reset-password/route.ts
  src/lib/decisionSuite/copy.ts
  src/lib/rate-limit.ts
  src/shared/ui/components/privacy-policy-overlay.tsx
Due: eslint --fix --quiet --max-warnings=0, prettier --write

chore: upgrade Next.js and align tsconfig for build
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: pin Next 15 and React 18 for Sentry compatibility (restore npm ci)
  eslint.config.mjs
  middleware.ts
  package-lock.json
  package.json
  src/lib/db/createServerClient.ts
  tsconfig.json
Due: eslint --fix --quiet --max-warnings=0, prettier --write

Fix/ci green (#43)
  eslint.config.mjs
  middleware.ts
  package-lock.json
  package.json
  src/app/(marketing)/page.tsx
  src/app/api/auth/login/route.ts
  src/app/api/auth/reset-password/route.ts
  src/lib/db/createServerClient.ts
  src/lib/decisionSuite/copy.ts
  src/lib/rate-limit.ts
  src/shared/ui/components/privacy-policy-overlay.tsx
  tsconfig.json
Due: eslint --fix --quiet --max-warnings=0, prettier --write

chore: exclude .next from tsc typecheck
  tsconfig.json
Due: prettier --write

chore: align CI triggers and job name
  .github/workflows/ci.yml
Due: none

debug: log origin/host and supabase host in login route
  src/app/api/auth/login/route.ts
Due: eslint --fix --quiet --max-warnings=0, prettier --write

debug: log supabase url env during build
  src/lib/config/env.client.ts
Due: eslint --fix --quiet --max-warnings=0, prettier --write

fix: trim supabase url env before zod url validation
  src/lib/config/env.client.ts
Due: eslint --fix --quiet --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --quiet --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css,scss})
